.page-adjust {
  // background-color: var(--main-bg-color);
  // width: 1920px;
  height: 13863px;
  background: url('./radio.png') center 0 / contain no-repeat;

  .button {
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 30px;
    height: 1.25rem;
    height: 30px;
  }
}