* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: brown;
}

/* pc端 */
@media screen and (min-width: 1024px) {
  :root {
    background-color: aquamarine;
  }
}

/* 移动端 */
@media screen and (max-width: 1023px) {
  :root {
    /* background-color: forestgreen; */
  }
}