$bgc: #333366;
$color: #99CC33;
$mainColor: #336699;

.css-filter {
  .box {
    width: 160px;
    height: 90px;
    text-align: center;
    background: $bgc url('./imgs/R-C.jpeg') center/contain no-repeat;
    color: $color;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .blur {
    filter: blur(1px)
  }
  .backdrop-filter {
    backdrop-filter: blur(1px)
  }
  .brightness {
    filter: brightness(2)
  }
  .contrast {
    filter: contrast(2)
  }
  .drop-shadow {
    filter: drop-shadow(30px 10px 10px $mainColor)
  }
  .grayscale {
    filter: grayscale(1)
  }
  .hue-rotate {
    filter: hue-rotate(90deg)
  }
  .invert {
    filter: invert(0.3)
  }
  .opacity {
    filter: opacity(0.5)
  }
  .saturate {
    filter: saturate(0.3)
  }
  .sepia {
    filter: sepia(1)
  }
  .url {
    filter: url(0.3)
  }
}